@media only screen and (min-width: 1000px) {
  .list-tweets{
    margin-top: 150px;
  }
}

@media only screen and (max-width: 1000px) {
  nav {
    /* background-color: rgb(187, 124, 41);
    background-image: url("../images/bright-squares.png"); */
    background: none;
    /* background: transparent; */
  }

  .container{
    flex-direction: column;
    width: 100%;
    /* margin-top: 0px; */
  }

  .div-header {
    width: 100%;
    margin-top: inherit;
  }

  header{
    height: 400px;
  }

  .all-tweets{
    width: 100%;
  }

  .list-tweets{
    margin-top: 10px;
  }
  
  .list-tweets-with-new{
    margin-top: 10px;
  }

  .new-tweet{
    margin-top: 20px;
  }
}
