$all-tweets-width: 60%;
$list-tweets-width: 90%;
$list-tweets-margin-bottom: 20px;
$tweet-margin-top: 5px;
$tweet-text-width: 90%;
$tweet-text-height: 2.5em;

.all-tweets{
  display: flex;
  flex-direction: column;
  width: $all-tweets-width;
}

.list-tweets{
  display: flex;
  flex-direction: column;
  width: $list-tweets-width;
  background-color: inherit;
  margin: 0 auto;
  margin-bottom : $list-tweets-margin-bottom;
  /* text-align: center; */
}


.tweet {
  display: flex;
  flex-direction : column;
  border: 2px solid;
  margin-top: $tweet-margin-top;
}


.tweet-line1 {
  display: flex;
  justify-content: space-between;
}


.tweet-line2 {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.tweet-text {
  border-top-style: hidden;
  border-left-style: hidden;
  border-right-style: hidden;
  border-bottom-style: groove;
  border-bottom: 5px solid rgba(53, 3, 3, 0.596);
  background-color: inherit;
  outline: none;
  width: $tweet-text-width;
  height: $tweet-text-height;
  font-size: x-large;
  color:rgb(78, 77, 77);
  resize: none;
  overflow:hidden;
  justify-content: start;
}



.tweet-line3 {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.tweet-date {
  width: 70%;
}

.tweet-logo1 .tweet-logo2 .tweet-logo3 {
  width: 10%;
}

.fa-flag:hover{
  color: crimson;
}

.fa-undo:hover{
  color:  blue;
}

.fa-heart:hover{
  color: darkred;
}
