.div-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 40%;
  margin-top: 150px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #bb7c29;
  background-image: url("../images/bright-squares.png");
  height: 600px;
  width: 100%;
  color: white;
}
