nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color:#FFFFFF;
  position : fixed;
  /* top : 0; */
  z-index: 1;
}

nav span {
  font-size : xx-large;
  padding-right: 1.5em;
  padding-left: 1.5em; 
}

.nav-left-side {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.nav-logo {
  font-family: Bungee, sans-serif;
}

#write-new-tweet{
  /* position: fixed; */
  
}

/* The element to apply the animation to */
.fa-angle-double-down {
  color: red;
  animation-name: up-and-down;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

/* The animation code */
@keyframes up-and-down {
  0% { transform: translateY(0); }
  50% { transform: translateY(8px); }
  100% { transform: translateY(15px); }
}
  /* 0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 100px;
  } */
  /* from {top: 0px;}
  to {top:15px;} */
}

.down-arrow:hover{
  cursor: pointer;
}
